<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webfont Test</title>
    <style>
        @font-face {
            font-family: 'SubsettedMJM';
            src: url('/font.woff2?text=辺辺󠄂邉邉󠄙邉󠄛邉󠄟邉󠄚邉󠄜邉󠄝邉󠄗邊󠄏邊邊󠄎邊󠄍邊󠄌邊󠄋邊󠄊邊󠄐邊󠄒') format('woff2');
        }

        body {
            font-family: 'SubsettedMJM', sans-serif;
        }
    </style>
</head>
<body>
    <p>日本語の名前では非常に多くの漢字が使われます。</p>
    <p>例えば渡辺さんの「辺」だけでも、以下のような種類があり、官報外字には140文字もの「辺」が収録されています。</p>
    <h1>辺辺󠄂邉邉󠄙邉󠄛邉󠄟邉󠄚邉󠄜邉󠄝邉󠄗邊󠄏邊邊󠄎邊󠄍邊󠄌邊󠄋邊󠄊邊󠄐邊󠄒</h1>
    <p>文字情報基盤に対応したフォントを使うことで、こうした文字を正確に扱うことができます。</p>
    <p>GlyphPicker MJ明朝フォントサーバーを使えば、後からフォントをインストールできないスマートフォンやテレビからでも、これらの文字をWeb上で軽く正しく表示できます。</p>
</body>
</html>
